# Assigment 2
## Jerrin C. Redmon
## CS-430

In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
air = pd.read_csv("/content/AirQuality_Data.csv")

In [5]:
air.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2,2013,3,1,1,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,3,2013,3,1,2,7.0,7.0,NaN,17.0,300.0,60.0,-1.2,1025.3,-24.6,0.0,NNW,5.3,Dongsi
3,4,2013,3,1,3,3.0,3.0,5.0,18.0,NaN,NaN,-1.4,1026.2,-25.5,0.0,N,4.9,Dongsi
4,5,2013,3,1,4,3.0,3.0,7.0,NaN,200.0,84.0,-1.9,1027.1,-24.5,0.0,NNW,3.2,Dongsi

In [6]:
air.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34314.000000,34511.000000,34401.000000,33463.000000,31867.000000,34400.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,86.194297,110.336742,18.531107,53.699443,1330.069131,57.210637,13.671490,1012.547419,2.447535,0.064020,1.860785
std,10122.249256,1.177213,3.448752,8.800218,6.922285,86.575127,98.219860,22.905655,33.959230,1191.305887,58.033275,11.458418,10.266059,13.810696,0.786282,1.280368
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.642600,-16.800000,987.100000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,4.000000,27.000000,600.000000,12.000000,3.100000,1004.000000,-8.800000,0.000000,1.000000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,61.000000,86.000000,10.000000,47.000000,1000.000000,44.125200,14.600000,1012.200000,3.000000,0.000000,1.500000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,119.000000,151.000000,24.000000,73.000000,1700.000000,81.000000,23.500000,1020.900000,15.000000,0.000000,2.400000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,737.000000,955.000000,300.000000,258.000000,10000.000000,1071.000000,41.100000,1042.000000,28.800000,46.400000,10.500000

In [7]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34314 non-null  float64
 6   PM10     34511 non-null  float64
 7   SO2      34401 non-null  float64
 8   NO2      33463 non-null  float64
 9   CO       31867 non-null  float64
 10  O3       34400 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34986 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [8]:
air['PM2.5'].value_counts()

3.0      892
10.0     545
8.0      524
12.0     517
9.0      504
        ...
684.0      1
628.0      1
640.0      1
538.0      1
681.0      1
Name: PM2.5, Length: 582, dtype: int64

In [9]:
air.columns

Index(['No', 'year', 'month', 'day', 'hour', 'PM2.5', 'PM10', 'SO2', 'NO2',
       'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station'],
      dtype='object')

### Dropping unwanted columns

In [10]:
air = air.drop(['No','station','wd','WSPM'], axis = 1)

In [11]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    35064 non-null  int64
 1   month   35064 non-null  int64
 2   day     35064 non-null  int64
 3   hour    35064 non-null  int64
 4   PM2.5   34314 non-null  float64
 5   PM10    34511 non-null  float64
 6   SO2     34401 non-null  float64
 7   NO2     33463 non-null  float64
 8   CO      31867 non-null  float64
 9   O3      34400 non-null  float64
 10  TEMP    35044 non-null  float64
 11  PRES    35044 non-null  float64
 12  DEWP    35044 non-null  float64
 13  RAIN    35044 non-null  float64
dtypes: float64(10), int64(4)
memory usage: 3.7 MB

### Fill null variables

In [13]:
air.isnull().sum()

year        0
month       0
day         0
hour        0
PM2.5     750
PM10      553
SO2       663
NO2      1601
CO       3197
O3        664
TEMP       20
PRES       20
DEWP       20
RAIN       20
dtype: int64

In [14]:
air['PM2.5'] = air['PM2.5'].fillna(air['PM2.5'].mean())
air['PM10'] = air['PM10'].fillna(air['PM10'].mean())
air['SO2'] = air['SO2'].fillna(air['SO2'].mean())
air['NO2'] = air['NO2'].fillna(air['NO2'].mean())
air['CO'] = air['CO'].fillna(air['CO'].mean())
air['O3'] = air['O3'].fillna(air['O3'].mean())
air['TEMP'] = air['TEMP'].fillna(air['TEMP'].mean())
air['PRES'] = air['PRES'].fillna(air['PRES'].mean())
air['DEWP'] = air['DEWP'].fillna(air['DEWP'].mean())
air['RAIN'] = air['RAIN'].fillna(air['RAIN'].mean())

In [15]:
air.isnull().sum()

year     0
month    0
day      0
hour     0
PM2.5    0
PM10     0
SO2      0
NO2      0
CO       0
O3       0
TEMP     0
PRES     0
DEWP     0
RAIN     0
dtype: int64

In [16]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    35064 non-null  int64
 1   month   35064 non-null  int64
 2   day     35064 non-null  int64
 3   hour    35064 non-null  int64
 4   PM2.5   35064 non-null  float64
 5   PM10    35064 non-null  float64
 6   SO2     35064 non-null  float64
 7   NO2     35064 non-null  float64
 8   CO      35064 non-null  float64
 9   O3      35064 non-null  float64
 10  TEMP    35064 non-null  float64
 11  PRES    35064 non-null  float64
 12  DEWP    35064 non-null  float64
 13  RAIN    35064 non-null  float64
dtypes: float64(10), int64(4)
memory usage: 3.7 MB

### Splitting the data

In [18]:
x = air.drop(['PM2.5'], axis = 1)
y = air['PM2.5']

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .2, random_state = 20)

### Linear Regression

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
Linear_regessor_model = regressor.fit(x_train, y_train)

### Scores

In [21]:
Linear_regessor_model.score(x_train,y_train)

0.8571191855087014

In [22]:
Linear_regessor_model.score(x_test,y_test)

0.8486679168341762

### Ridge Regression

In [23]:
from sklearn.linear_model import Ridge
Ridge_model = Ridge(alpha = 2, max_iter = 1000, tol = 0.5)
Ridge_model.fit(x_train,y_train)

Ridge(alpha=2, max_iter=1000, tol=0.5)

### Scores

In [24]:
Ridge_model.score(x_train,y_train)

0.8571191855066848

In [25]:
Ridge_model.score(x_test,y_test)

0.8486679012233211

### Lasso Regression

In [26]:
from sklearn.linear_model import Lasso
Lasso_model = Lasso(alpha = 100, max_iter = 1000, tol = 0.5)
Lasso_model.fit(x_train,y_train)

Lasso(alpha=100, tol=0.5)

### Scores

In [27]:
Lasso_model.score(x_train,y_train)

0.8337670374728694

In [28]:
Lasso_model.score(x_test,y_test)

0.826760189807068

### Elastic Net

In [29]:
from sklearn.linear_model import ElasticNet
ElasticNet_model = ElasticNet(alpha = .01, l1_ratio = 0.5)
ElasticNet_model.fit(x_train,y_train)

ElasticNet(alpha=0.01)

### Scores

In [30]:
ElasticNet_model.score(x_train,y_train)

0.8571191520702115

In [31]:
ElasticNet_model.score(x_test,y_test)

0.8486656994999531

### RMSE

In [33]:
from sklearn.metrics import mean_squared_error
regressor.fit(x,y)
y_pred = regressor.predict(x)
RMSE = mean_squared_error(y,y_pred, squared = False)
print(RMSE)

32.56312744770399

### Pretty Table

In [36]:
from prettytable import PrettyTable
myTable = PrettyTable(["Model", "Training_score", "Test_score"])
myTable.add_row(["Linear_Regression", Linear_regessor_model.score(x_train,y_train), Linear_regessor_model.score(x_test,y_test)])
myTable.add_row(["Ridge", Ridge_model.score(x_train,y_train), Ridge_model.score(x_test,y_test)])
myTable.add_row(["Lasso", Lasso_model.score(x_train,y_train), Lasso_model.score(x_test,y_test)])
myTable.add_row(["ElasticNet", ElasticNet_model.score(x_train,y_train), ElasticNet_model.score(x_test,y_test)])

In [38]:
print(myTable)

+-------------------+--------------------+--------------------+
|       Model       |   Training_score   |     Test_score     |
+-------------------+--------------------+--------------------+
| Linear_Regression | 0.8571103969239744 | 0.8487462281675671 |
|       Ridge       | 0.8571191855066848 | 0.8486679012233211 |
|       Lasso       | 0.8337670374728694 | 0.826760189807068  |
|     ElasticNet    | 0.8571191520702115 | 0.8486656994999531 |
+-------------------+--------------------+--------------------+

### Findings
#### We see from the table that the lasso model has the most variation compared to the other models and each keep a consistent score. This show us the levels of PM2.5 in the air throughout the year